/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.11.2014, 19:08:51
    Author     : alexander
*/

div#BuildPartList {
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 5%;    
}

div#BuildPartList div.tableHead div:nth-child(1), 
div#BuildPartList table td:nth-child(4n + 1){
   width:10%;
}

div#BuildPartList div.tableHead div:nth-child(2), 
div#BuildPartList table td:nth-child(4n + 2){
    width:50%;
}

div#BuildPartList div.tableHead div:nth-child(3), 
div#BuildPartList table td:nth-child(4n + 3){
   width:40%;
   border-right-width:0;
}

div#Build input.sellButton {
    float:right;
}