/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.11.2014, 11:15:44
    Author     : alexander
*/

div#BuyPartList {
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 5%;    
}

div#BuyPartList table{
}

div#BuyPartList table tbody {
}

/*
div#BuyPartList div.tableHead div:nth-child(1), 
div#BuyPartList table td:nth-child(4n + 1){
    width:0%;
    display: none;    
}

div#BuyPartList div.tableHead div:nth-child(2), 
div#BuyPartList table td:nth-child(4n + 2){
   width:50%;
}

div#BuyPartList div.tableHead div:nth-child(3), 
div#BuyPartList table td:nth-child(4n + 3){
    width:25%;
}

div#BuyPartList div.tableHead div:nth-child(4), 
div#BuyPartList table td:nth-child(4n + 4){
   width:25%;
   border-right-width:0;
}
*/

div#Buy input.buyButton {
    float:right;
}