div#City h1 {
    color: #ffffff;
    margin: 0;
    text-align: center;
}

div#City div.head,
div#City div.bottomMenu{
    height: 10%;
}

div#City div.content{
    height: 80%;
}

div#City div.bottomMenu, 
div#City div.buttonWrapper{
    text-align: center;    
}

div.CityGoodsList, div.CityDepotList {
    display: none;
}

div.CityInfoList {
    color: #ffffff; 
}

div#City div.bottomMenu input{    
}

div#City div.CityDepotList div.hasNoDepot {
    text-align: center;
}

div#City div.CityInfoList div.information{
    width: 80%;
    margin-left: 10%;
}
div#City div.CityInfoList div.infoRow div{
    display: inline-block;
}

div#City div.CityInfoList div.infoRow div:nth-child(1){
    width: 40%;
}

div#City div.CityInfoList div.infoRow div:nth-child(2){
    width: 60%;
}

div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(1),
div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(2),
div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(5),
div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(7),
div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(9),
div#City table#tableCityDepotGoodsList tr td:nth-child(1),
div#City table#tableCityDepotGoodsList tr td:nth-child(2),
div#City table#tableCityDepotGoodsList tr td:nth-child(5){
    display: none;
}

div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr.depot{
    background-color: #228B22;
}