div#City h1 {
    color: #ffffff;
    margin: 0;
    text-align: center;
}

div#City div.head,
div#City div.bottomMenu{
    height: 10%;
}

div#City div.content{
    height: 80%;
}

div#City div.bottomMenu{
    text-align: center;    
}

div.CityGoodsList, div.CityDepotList {
    display: none;
}

div.CityInfoList {
    color: #ffffff; 
}

div#City div.bottomMenu input{    
}

div#City div.CityDepotList div.hasNoDepot {
    text-align: center;
}

div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(1),
div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(2),
div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(5),
div#City div.CityGoodsList div.tbody table#tableCityGoodsList tr td:nth-child(7){
    display: none;
}