/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2014, 20:12:13
    Author     : alexander
*/
body, html { 
    height: 100%;      
}

body, html, div {
    box-sizing: border-box;
    margin: auto;
    padding: 0; 
}

.view{
    display: none;
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: #000000;
}

div#menu {    
    background-color: #000000;    
    display: inherit;
}

div#score{
    width: 100%;
    height: 10%;
    background-color: #8B4513;
}

div.closeMenu{
    width:4%;
    height:4%;
    background-color: red;
    position: absolute;
    left:95%;    
    top: 5%;
}


/********* scroll tables start **********/
div.table{
    color: #ffffff;
}
div.scrolltablewrapper{
    background: none repeat scroll 0 0;
    float: left;
    width:100%;
}

div.scrolltablewrapper div.tableHead {
    background: none repeat scroll 0 0;
    width: 100%;    
}

div.scrolltablewrapper div.tableHead div{
    float: left;
}

div.scrolltablewrapper div.tbody {
    background: none repeat scroll 0 0;
    min-height: 100px;
    height: 100px;
    overflow-y: auto;
    width: 100%;
}

div.scrolltablewrapper div.tbody table{
    width: 100%;
}
/********* scroll tables end **********/