/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.11.2014, 20:34:00
    Author     : alexander
*/
canvas#playground {
    //width:100%;
    height:100%;
}

div.zoom{
    width:20px;
    height:20px;
    background-color: burlywood;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
}

div#zoomin{
    left:10px;    
    top: 10px;
}

div#zoomout{
    left:10px;    
    top: 40px;
}

div#GoodsList{
    display: none;
    background-color: #228B22;
}

// TODO Maybe useful for all tables
div#GoodsList table#tableGoodsListList{
    border-collapse:collapse;
}

div#MapGoodsList div.scrolltablewrapper{
    height:100%;
}
div#GoodsList table#tableGoodsListList tr.selectedRow{
    background-color: #ffff00;
}

div#removeLastDestination{
    width:4%;
    height:4%;
    background-color: yellow;
    position: absolute;
    left:8%;
}

div#sendTruck{
    width:4%;
    height:4%;
    background-color: orange;
    position: absolute;
    left:4%;
}

div#GoodsTruckOverview{
    width:50%;
    height:4%;
    background-color: orange;
    position: absolute;
    left:4%;
    top:50%;
}

div#GoodsList div.MapGoodsList table#tableGoodsListList tr td:nth-child(1),
div#GoodsList div.MapGoodsList table#tableGoodsListList tr td:nth-child(2),
div#GoodsList div.MapGoodsList table#tableGoodsListList tr td:nth-child(5),
div#GoodsList div.MapGoodsList table#tableGoodsListList tr td:nth-child(7)
{
    display: none;
}

div#GoodsList div.MapGoodsList table#tableGoodsListList tr td:nth-child(6),
div#GoodsList div.MapGoodsList table#tableGoodsListList tr td:nth-child(10){
    text-align: right;
}

div#Map div#GoodsList div.MapGoodsList div.tableHead{
    display: none;
}

div#GoodsTruckOverview div{
    display: inline;
    margin-right: 5px;
}