/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.11.2014, 20:34:00
    Author     : alexander
*/
canvas#playground {
    //width:100%;
    height:100%;
}

div.zoom{
    width:20px;
    height:20px;
    background-color: burlywood;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
}

div#zoomin{
    left:10px;    
    top: 10px;
}

div#zoomout{
    left:10px;    
    top: 40px;
}

div#GoodsList{
    display: none;
    background-color: #228B22;
}

// TODO Maybe useful for all tables
div#GoodsList table#tableGoodsListList{
    border-collapse:collapse;
}
div#GoodsList table#tableGoodsListList tr.selectedRow{
    background-color: #ffff00;
}
