/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.11.2014, 20:12:37
    Author     : alexander
*/

div#SellPartList {
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 5%;    
}

div#SellPartList div.tableHead div:nth-child(1), 
div#SellPartList table td:nth-child(4n + 1){
    width:0%;
    display: none;    
}

div#SellPartList div.tableHead div:nth-child(2), 
div#SellPartList table td:nth-child(4n + 2){
   width:30%;
}

div#SellPartList div.tableHead div:nth-child(3), 
div#SellPartList table td:nth-child(4n + 3){
    width:45%;
}

div#SellPartList div.tableHead div:nth-child(4), 
div#SellPartList table td:nth-child(4n + 4){
   width:25%;
   border-right-width:0;
}

div#Sell input.sellButton {
    float:right;
}