/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.11.2014, 15:09:52
    Author     : alexander
*/

div#TruckList {
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 5%;    
}

div#TruckList div.tableHead div:nth-child(1), 
div#TruckList table td:nth-child(4n + 1){
   width:10%;
}

div#TruckList div.tableHead div:nth-child(2), 
div#TruckList table td:nth-child(4n + 2){
    width:50%;
}

div#TruckList div.tableHead div:nth-child(3), 
div#TruckList table td:nth-child(4n + 3){
   width:40%;
   border-right-width:0;
}
